.HomePage {
  background-color: black;
  font-family: Roboto, Arial, sans-serif;
  min-height: 100vh;
}

.LeftSideBar{
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.LeftSideBarButton{
  background-color: black;
  border-radius: 5px;
  padding-left: 1.5rem;
  text-align: left;
  font-size: 1rem;
  color: white;
  height: 40px;
  width: 200px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.LeftSideBarButton:hover{
  background-color: #343a40;
}

.IconStyle {
  margin-right: 1.25rem;
  font-size: 1.5rem;
}

.TopBar{
  display:flex;
  align-items: center;
  gap: 1rem;
}

.YoutubeMenu{
  padding-left: 1.25rem;
  width: auto;
  height: 2rem;
  padding-bottom: 1rem;
}

.YoutubeMenu:hover{
  background-color: #343a40;
  border-radius: 90px;
}

.YouTubeLogo{
  height: 20px;
  padding-bottom: 1rem;
  width: auto;
}
