.HomePage {
  background-color: black;
  font-family: Roboto, Arial, sans-serif;
  min-height: 100vh;
}

.LeftSideBar{
  padding-left: 1rem;
  padding-top: 0.78rem;
  display: flex;
  flex-direction: column;
}

.LeftSideBarButton{
  background-color: black;
  border-radius: 5px;
  padding-left: 0.5rem;
  text-align: left;
  font-size: 0.86rem;
  color: white;
  height: 2.5rem;
  width: 200px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.LeftSideBarButton:hover{
  background-color: #343a40;
}

.IconStyle {
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.TopBar{
  display:flex;
  align-items: center;
  gap: 1.17rem;
}

.YouTubeLogo{
  height: 1.47rem;
  margin-bottom: 1.65rem;
  width: 6.73rem;
  cursor: pointer;
}

.YoutubeMenu{
  margin-left: 0.35rem;
  width: 1.8rem;
  height: 1.88rem;
  margin-bottom: 1.65rem;
  cursor: pointer;
}

.YoutubeMenu:hover{
  background-color: #343a40;
  border-radius: 90px;
}

.Divider {
  border: none;
  height: 1px;
  background-color: #3f3f3f; /* a soft gray */
  margin: 11px 0; /* some spacing above and below */
  transform: translateX(-4px);
  max-width: 13.3rem;
}

.LeftSideBarButton .YouIcon {
  margin-left: 0.5rem; /* Adjust the value as needed */
}

.YouText{
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1px;
}

.subscription_section{
  color: white;
}